body{
    background:none;
}
.main-div{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    
    height: 70rem;
}

.header-bg{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.id{
    flex: 0 0 10%;
}
.btn:focus {
    outline: none;
    box-shadow: none;
  }