<!DOCTYPE html>
<body>
  <div class="alert alert-success position-absolute" role="alert" *ngIf="showSuccess" style="width:50rem; top: 93%; left:30%;">
    {{message}}
  </div>
  <div class="alert alert-danger position-absolute" role="alert" *ngIf="showError" style="width:50rem; top: 93%; left:30%;">
    {{message}}
  </div>

    <div style="height: 40.8rem;">
        <div class="card" style="width: 1000px; height: 600px; margin-top: 6rem; margin-left: 3rem; backdrop-filter: blur(10px); background: none;">
            <!-- Button trigger modal -->
                <div class="row" style="display: table; height: 80px; overflow: hidden;">
                    <div class="col-md-2" style="display: table-cell; vertical-align: middle; text-align: center; margin-left: 2rem;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                    </svg>
                    </div>
                    <div class="col-md-6" style="display: table-cell; vertical-align: middle;">
                        <h2>Room Table</h2>
                    </div>
                    <div class="col-md-3" style="display: table-cell; vertical-align: middle;">
                        <button type="button" (click)="modal()" class="btn btn-success modal-button" data-toggle="modal" data-target="#modal" *ngIf="selection == null">
                            Add
                        </button>
                        <button type="button" class="btn btn-danger modal-button mr-3" data-toggle="modal" data-target="#confirmModal" *ngIf="selection !=null">
                            Delete
                        </button>
                        <button type="button" (click)="modal()" class="btn btn-primary modal-button" data-toggle="modal" data-target="#modal" *ngIf="selection !=null">
                            Edit
                        </button>
                    </div>
                </div>

            <ag-grid-angular
                class="ag-theme-alpine"
                style="height: 500px;width: 900px; margin-left: 2rem;"
                (gridReady)="onGridReady($event)"
                (selectionChanged)="changeSelection()"
                [rowData] = "rowData | async"
                [columnDefs] = "colDefs"
                [defaultColDef] = "defaultColDefs"
                [rowGroupPanelShow]="'always'"
                [rowSelection]="'single'"
                [pagination]="true"
                [animateRows]="true">
            
            </ag-grid-angular>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="modal-body">
                            <label class="form-label" for="id">Id</label>
                            <input class="form-control" type="text" formControlName="id" id="id">

                            <label class="form-label" for="hotel">Hotel</label>
                            <select class="form-control form-control-lg" formControlName="hotelId" id="hotel">
                              <option value="" [disabled]="true">Select</option>
                              <option *ngFor="let hotel  of hotelMap | keyvalue" [ngValue]="hotel.key">{{hotel.value}}</option>
                            </select>

                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" type="text" formControlName="name" id="name">

                            <label class="form-label" for="capacity">Capacity</label>
                            <select class="form-control form-control-lg" formControlName="capacity" id="capacity">
                              <option value="" [disabled]="true">Select</option>
                              <option *ngFor="let capacity of capacityMap | keyvalue" [ngValue]="capacity.key"> {{capacity.value}}</option>
                            </select>
                            

                            <label class="form-label" for="price">Price</label>
                            <input class="form-control" type="number" formControlName="price" id="price">

                            <form [formGroup]="imageForm" style="margin-top: 1rem;">
                                <label for="image">File Upload</label>
                                <br>
                                <input type="file" class="form-control" name="image" id="image" formControlName="images" multiple (change)="onFileSelect($event)">
                            </form>

                            <div *ngIf="selection != null">
                              <label class="form-label" for="media">Medias</label>
                              <select class="form-control" [(ngModel)] = "selectedMedia" [ngModelOptions]="{standalone: true}" id="media">
                                <option value="" [disabled]="true">Select</option>
                                <option *ngFor="let media of selection.medias" [ngValue]="media.id">{{media.name}}</option>
                              </select>
                              <div *ngFor="let media of selection.medias">
                                <label class="form-label" class="form-label" for="data">{{media.name}}</label>
                                <img class="form-control" src="data:image/jpeg;base64,{{media.data}}" name="id" id="data" style="width: 400px; height: 200px;">
                              </div>
                              <button type="button" style="margin-top: 1rem;" class="btn btn-danger" (click)="deleteMedia()">Delete Media</button>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"(click)="onClose()" data-dismiss="modal">Close</button>
                            <button type="submit" [disabled]="!form.valid" [formGroup]="form" class="btn btn-primary">{{submitButton}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header alert-danger">
                  <h5 class="modal-title" id="exampleModalLongTitle">Confirm action</h5>
                </div>
                <div class="modal-body" *ngIf="selection!=null">
                  Do you want to delete {{selection.name}}? This action cannot be undone.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button type="button" (click)="delete()" class="btn btn-danger" data-dismiss="modal">Yes</button>
                </div>
              </div>
            </div>
        </div>
    </div>

</body>