html {
    height: 100%;
    }
body {
    background-image: url('../../../assets/images/bg3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation-name: fade-in;
    animation-duration: 2s;
    }

@keyframes fade-in{
    0% {opacity: 0;}
    75% {opactiy: 0.8;}
    100% {opacity: 1;}
}


.menu-item{
    background: rgb(93,220,241);
    background: -moz-linear-gradient(90deg, rgba(93,220,241,0.5217437316723564) 0%, rgba(136,241,93,0.49653364763874297) 39%, rgba(241,189,93,0.5861695019804797) 61%, rgba(93,220,241,0.6674019949776786) 100%);
    background: -webkit-linear-gradient(90deg, rgba(93,220,241,0.5217437316723564) 0%, rgba(136,241,93,0.49653364763874297) 39%, rgba(241,189,93,0.5861695019804797) 61%, rgba(93,220,241,0.6674019949776786) 100%);
    background: linear-gradient(90deg, rgba(93,220,241,0.5217437316723564) 0%, rgba(136,241,93,0.49653364763874297) 39%, rgba(241,189,93,0.5861695019804797) 61%, rgba(93,220,241,0.6674019949776786) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5ddcf1",endColorstr="#5ddcf1",GradientType=1);
    color: antiquewhite;
    backdrop-filter: blur(15px);
}
em{
    color: #e71515;
    font-weight: bold;
}

.sm{
    color: green;
    font-weight: bold;
}
.ng-invalid.ng-touched{
    border-color: red;
}
.card{
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #cabcbc;
}